.marge {
    display: flex;
    /* height: 100px; */
    position: absolute;
    top: 4rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.bookList {
    width: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}

.searchBox{
    width: 100%;
}

.registeredBooks{
    width: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0;
}